@import "tailwindcss";

@theme {
  --color-theme: #e1e6f0;
  --color-navbarbackground: #f3f4f6;
  --color-primary: #eeeeee;
  --color-secondary: #e6f7e6;
  --color-primaryAction: #2e7d32;
  --color-secondaryAction: #2196f3;
  --color-warningAction: #f44336;
  --color-primaryText: #212121;
  --color-secondaryText: #757575;
  --color-textOnGreen: #ffffff;
  --color-theme: #91a92a;
  --color-hardTheme: #5f6e20;
  --color-midTheme: #869c27;
  --color-sideBar: #171717;
  --color-cleanWhite: #ffffff;
  --color-greyBorder: #d1d5db;

  --color-gtn: #8aa624;
  --color-pbackground: #dbe4c9;
  --color-plight: #dbe4c9;
  --color-contrast: #fea405;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
